* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0b0d17;
  color: #fff;
}

.section {
  padding: 80px 16px;
  text-align: center;
}

.dark {
  background: #111;
}

h1, h2 {
  margin-bottom: 16px;
}

p {
  color: #aaa;
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}
